@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
    --default-font-family: 'Roboto', sans-serif;
    --default-font-size: 15px;
    --default-font-optical-sizing: auto;
    --default-font-weight: 400;
    --default-font-style: normal;
    --color-primary: var(--color-cyan-600);
    --color-secondary: oklch(0.87 0.16 88.8 / 1);
    --color-secondary-dark: oklch(0.73 0.15 88.08);
  }
  
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  body {
    background: linear-gradient(to bottom,  #09161a 0%,#202e32 100%);
  }

  .btn {
    @apply rounded-sm;
    @apply px-8 py-2;
    @apply text-center;
    @apply hover:cursor-pointer;
    @apply shadow-md;
    @apply transition-all;
    @apply duration-300;
    @apply font-normal;
    @apply h-10;
  }

  .btn-secondary {
    @apply bg-secondary;
    @apply hover:bg-secondary-dark;
    @apply text-black 
  }

  .btn-dull {
    @apply bg-gray-700;
    @apply hover:bg-gray-800;
    @apply text-white;
  }

  @keyframes word-scroll-1 {
    0% {
      transform: translateY(0);
      color: rgb(156 163 175);
    }
    30% {
      transform: translateY(0);
      color: rgb(156 163 175);
    }
    33.33% {
      transform: translateY(2rem);
      color: rgb(107 114 128);
    }
    63.33% {
      transform: translateY(2rem);
      color: rgb(107 114 128);
    }
    66.66% {
      transform: translateY(-2rem);
      color: rgb(107 114 128);
    }
    96.66% {
      transform: translateY(-2rem);
      color: rgb(107 114 128);
    }
    100% {
      transform: translateY(0);
      color: rgb(156 163 175);
    }
  }

  @keyframes word-scroll-2 {
    0% {
      transform: translateY(-2rem);
      color: rgb(107 114 128);
    }
    30% {
      transform: translateY(-2rem);
      color: rgb(107 114 128);
    }
    33.33% {
      transform: translateY(0);
      color: rgb(156 163 175);
    }
    63.33% {
      transform: translateY(0);
      color: rgb(156 163 175);
    }
    66.66% {
      transform: translateY(2rem);
      color: rgb(107 114 128);
    }
    96.66% {
      transform: translateY(2rem);
      color: rgb(107 114 128);
    }
    100% {
      transform: translateY(-2rem);
      color: rgb(107 114 128);
    }
  }

  @keyframes word-scroll-3 {
    0% {
      transform: translateY(2rem);
      color: rgb(107 114 128);
    }
    30% {
      transform: translateY(2rem);
      color: rgb(107 114 128);
    }
    33.33% {
      transform: translateY(-2rem);
      color: rgb(107 114 128);
    }
    63.33% {
      transform: translateY(-2rem);
      color: rgb(107 114 128);
    }
    66.66% {
      transform: translateY(0);
      color: rgb(156 163 175);
    }
    96.66% {
      transform: translateY(0);
      color: rgb(156 163 175);
    }
    100% {
      transform: translateY(2rem);
      color: rgb(107 114 128);
    }
  }

  .word-1 {
    animation: word-scroll-1 9s infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
    transform: translateY(0);
    color: rgb(156 163 175);
  }

  .word-2 {
    animation: word-scroll-2 9s infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
    transform: translateY(-2rem);
    color: rgb(107 114 128);
  }

  .word-3 {
    animation: word-scroll-3 9s infinite;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
    transform: translateY(2rem);
    color: rgb(107 114 128);
  }
