@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --default-font-family: 'Roboto', sans-serif;
  --default-font-size: 15px;
  --default-font-optical-sizing: auto;
  --default-font-weight: 400;
  --default-font-style: normal;
  --color-primary: var(--color-cyan-600);
  --color-secondary: oklch(0.87 0.16 88.8 / 1);
  --color-secondary-dark: oklch(0.73 0.15 88.08);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #09161a 0%, #202e32 100%);
}

.btn {
  @apply rounded-sm;
  @apply px-8 py-2;
  @apply text-center;
  @apply hover:cursor-pointer;
  @apply shadow-md;
  @apply transition-all;
  @apply duration-300;
  @apply font-normal;
  @apply h-10;
}

.btn-secondary {
  @apply bg-secondary;
  @apply hover:bg-secondary-dark;
  @apply text-black;
}

.btn-dull {
  @apply bg-gray-700;
  @apply hover:bg-gray-800;
  @apply text-white;
}

:root {
  --n: 5;            /* Total number of words */
  --duration: 10s;   /* Total loop time */
}

.word {
  opacity: 0;
  transform: translateY(-2rem);
  animation: word-scroll var(--duration) infinite;
  /* The magic formula: (index - 1) * (total time / total words) */
  /* We multiply by -1 to "pre-start" the animation so there's no delay on load */
  animation-delay: calc((var(--i) - 1) * (var(--duration) / var(--n)) * -1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes word-scroll {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
    color: rgb(107 114 128);
  }
  /* 5% of the total time: Word has fully slid in */
  5% {
    transform: translateY(0);
    opacity: 1;
    color: rgb(156 163 175);
  }
  /* 15% of the total time: Word starts sliding out */
  15% {
    transform: translateY(0);
    opacity: 1;
    color: rgb(156 163 175);
  }
  /* 20% of the total time: Word is fully gone at the bottom */
  20% {
    transform: translateY(2rem);
    opacity: 0;
    color: rgb(107 114 128);
  }
  /* 20.01% to 100%: The word stays hidden and "resets" to the top position */
  21%, 100% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}