---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div class="min-h-[90svh]">
    <div class="p-4 md:max-w-2/3 mx-auto md:mt-20 text-white h-full">
      <h2 class="text-3xl mb-8 font-medium">
        Responsible for the content of this website:
      </h2>

      Carsten König <br />
      carstenkoenig92@gmail.com
    </div>
  </div>
</Layout>
