---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div
    class="p-4 md:max-w-2/3 mx-auto md:mt-20 text-white h-full min-h-[80svh]"
  >
    <h2 class="text-3xl mb-8 font-medium">
      Responsible for the content of this website:
    </h2>

    Carsten König <br />
    carstenkoenig92@gmail.com
  </div>
</Layout>
