---
const year = new Date().getFullYear()
---

<div
  class="border-t border-gray-800 p-4 bg-black/40 text-white mt-10 text-center py-10"
>
  © {year}
  Carsten König <br />
  <a href="/imprint" class="text-primary">Imprint</a>
</div>
