---
import Logo from '../assets/logo.svg'
import ArrowUpRightIcon from '../assets/icons/arrow_up_right.svg'
---

<div class="max-w-1/2 mx-auto py-8">
  <div class="flex items-center justify-between text-white">
    <a class="flex flex-row items-center gap-2 pointer group" href="/">
      <Logo width="50" height="50" class="group-hover:text-primary" />
      <h1 class="text-3xl flex">
        Mail<div class="font-bold">Fang</div>
      </h1>
    </a>

    <div
      class="flex flex-row items-center gap-12 text-lg font-medium"
      role="navigation"
    >
      <a href="/quickstart" class="hover:text-primary">Quickstart</a>
      <a
        href="https://demo.mailfang.com"
        class="hover:text-primary flex flex-row gap-2 items-center"
        target="_blank"
      >
        Demo
        <ArrowUpRightIcon class="size-4" />
      </a>
      <a
        href="https://github.com/cars10/mailfang"
        class="hover:text-primary flex flex-row gap-2 items-center"
        target="_blank"
      >
        GitHub <ArrowUpRightIcon class="size-4" />
      </a>
    </div>
  </div>
</div>
