---
import TypewriterReveal from './TypewriterReveal.astro'
const demoHost =
  import.meta.env.NODE_ENV === 'development'
    ? 'http://localhost:5173'
    : 'https://demo.mailfang.com'
const demoPath = `${demoHost}/redirect_first_email?reduced=true&demo=true`

const terminalOutput = `$ docker run -p 3000:3000 -p 2525:2525 cars10/mailfang:latest
INFO  [main] Database connected
INFO  [main] Database migrations completed
INFO  [web] Web server listening on 0.0.0.0:3000 
INFO  [smtp] SMTP server listening on 0.0.0.0:2525          
INFO  [main] MailFang is ready!`
---

<div class="flex flex-col md:flex-row">
  <section
    class="p-4 md:p-0 mx-auto md:w-1/3 md:mt-30 text-white md:h-auto flex flex-col justify-between md:justify-normal gap-18"
  >
    <h2 class="text-3xl md:text-5xl">
      Mail<span class="font-bold">Fang</span> is your new <span
        class="text-secondary">email</span
      > testing tool.
    </h2>

    <p class="text-2xl font-light leading-12 text-gray-400 max-w-full">
      View your emails in a modern web UI, inspect your data in real-time and
      regain control of your infrastructure.
    </p>

    <div class="flex flex-row gap-4">
      <a href="/quickstart" class="btn btn-secondary"> Quickstart </a>
      <a
        href="https://github.com/cars10/mailfang"
        class="btn btn-dull"
        target="_blank"
      >
        Github
      </a>
    </div>
  </section>

  <section class="p-4 md:w-2/5 w-full mt-10 md:mt-18 mx-auto">
    <div class="text-gray-400 text-center mb-4">This is a live demo!</div>
    <iframe
      src={demoPath}
      class="w-full h-200 bg-white rounded-sm"
      allow="clipboard-write"></iframe>
  </section>
</div>

<div class="my-20">
  <section
    class="p-4 md:p-0 mx-auto md:w-2/5 md:mt-30 text-white flex flex-col justify-between md:justify-normal gap-18"
  >
    <h2 class="text-3xl md:text-5xl border-secondary border-l-4 px-4">
      Why use Mail<span class="font-bold">Fang</span>?
    </h2>

    <p class="text-2xl font-light leading-12 text-gray-300 max-w-full">
      Stop testing emails by sending them to external services (or worse, to <span
        class="italic">real</span
      >
      users). Mail<span class="font-normal">Fang</span> allows you to validate your
      emails directly on your own infrastructure, keeping your data private and your
      workflow fast. <br /> Run it on your hardware to catch bugs and perfect your
      templates before they ever reach an inbox.
    </p>

    <TypewriterReveal text={terminalOutput} charDelay={20} />

    <div>
      <a href="/quickstart" class="btn btn-secondary">Quickstart</a>
    </div>
  </section>
</div>
