---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Head from './Head.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <main class="h-full">
      <Header />
      <slot />
    </main>
    <script defer src="https://umami.cars10k.de/script.js" data-website-id="3faafbc0-008e-4059-ae70-f68048546980" data-do-not-track="true"></script>
  </body>
</html>
